:root {
  /* CSS HEX */
  --bronze: #d58936ff;
  --misty-rose: #f5e3e0ff;
  --onyx: #363946ff;
  --cardinal: #ad343eff;
  --baby-powder: #fcfffcff;

  --tile-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

html {
  font-family: sans-serif;
}