:root {
    --blue: rgba(21, 52, 72, 1.0);
    --light-blue: rgba(21, 52, 72, .5);
    --lighter-blue: rgba(60, 91, 111, 1.0);
    --lightest-blue: rgba(60, 91, 111, .5);
    --brown: rgba(148, 137, 121, 1.0);
    --light-brown: rgba(148, 137, 121, .5);
    --beige: rgba(223, 208, 184, 1.0);
    --light-beige: rgba(223, 208, 184, .5);
    --lighter-beige: rgba(223, 208, 184, .25);

    --white: #fff;

    --tile-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

html {
    font-family: sans-serif;
}