:root {
  /* CSS HEX */
  --light-blue: #8ecae6;
  --blue: #219ebc;
  --dark-blue: #023047;
  --yellow: #ffb703;
  --orange: #fb8500;
  --grey: #edede9;
  --success-green: #2e7d32;
  --success-light-green: #e8f5e9;
  --error-red: #d32f2f;

  --tile-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

html {
  font-family: sans-serif;
}